.project{
    max-width: 82rem;
   
    margin: 9% auto;
   
    height:fit-content;
 h2{
    padding-bottom: 5px;
    border-bottom: 5px solid #e02af5;
 }

}

.project-flex{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
 
}
.project-cards{
    display: flex;
  
    justify-content: space-around;
 
    width: 100%;
    flex-wrap: wrap;
}
.project-border{
    border: 2px solid white;
    border-bottom-color: azure;
}
.project-card{
    width: 100%;
    max-width: 21rem;
    height: 39vh;
    border: 4px solid white;
    border-radius: 10px;
    text-align: center;
}
.project-img{
    width: 100%;
    height: 23vh;
    object-fit: cover;
}
.project-details{
    height: 14.7vh;
    
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.e-commerce{
    background-color: #c3c1c1a6;
}
.facebook{
    background-color: #0094ffde;
}
.quiz{
    background-color: cadetblue;
}
.project-link{
    max-width: 7rem;
}
@media(max-width:35rem){
    .project-card{
        max-width: 30rem;
    }
    .project-cards{
        gap: 20px;
    }
    
}